<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <title>Thành viên</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="./css/navigate.css" />
    <link rel="stylesheet" href="./css/testnavigate.css" />
  </head>
  <body>
    <!-- <header>
      <a href="/" id="logo-img"
        ><img src="/img/logo.svg" alt="logo" class="logo"
      /></a>
      <a class="manage-site" href="/about"
        ><button class="nav-button">Thành Viên</button></a
      >
      <a class="manage-site" href="/device"
        ><button class="nav-button">Thiết Bị</button></a
      >
      <a class="about-us" href="/logout"
        ><button class="nav-button">Đăng Xuất</button></a
      >
    </header> -->
    <nav style="position: flex;">
      <div class="brand">
        <a href="/" id="logo-img"
          ><img
            src="/img/logo.svg"
            alt="logo"
            class="logo"
            style="margin-top: 0;"
        /></a>
      </div>
      <ul>
        <li>
          <a href="/"
            ><i class="fa fa-home" aria-hidden="true"></i> Trang Chủ</a
          >
        </li>
        <li>
          <a href="/about"
            ><i class="fa fa-users" aria-hidden="true"></i> Thành Viên</a
          >
        </li>
        <li>
          <a href="/manage"
            ><i class="fa fa-info" aria-hidden="true"></i> Thông Số</a
          >
        </li>
        <li active="true">
          <a href="/device"
            ><i class="fa fa-thermometer" aria-hidden="true"></i> Thiết Bị</a
          >
        </li>
        <li>
          <a href="/logout"
            ><i class="fa fa-window-close" aria-hidden="true"></i> Đăng Xuất</a
          >
        </li>
      </ul>
    </nav>
    <div class="date-pick"></div>

    <div class="container mb-5 mt-3 ">
      <table class="table member table-bordered">
        <thead>
          <tr>
            <th scope="col">Họ và tên</th>
            <th scope="col">Mã số sinh viên</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Nguyễn Quốc Khánh</th>
            <td>20191909</td>
          </tr>
          <tr>
            <th scope="row">Nguyễn Tiến Dũng</th>
            <td>20191777</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
          </tr>
        </tbody>
      </table>
      
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
    <script src="/js/main1.js"></script>
  </body>
</html>
